<div class="card-scroll-wrapper">
  <div class="card-root" [class.has-uploaded-design]="order.designImageUrl" #cardRef>
    <img *ngIf="order.designImageUrl"
         [src]="resolveImageUrl(order.designImageUrl)"
         class="uploaded-design-full"
         alt="Ảnh thiết kế đơn hàng"
         crossorigin="anonymous">

    <img *ngIf="!order.designImageUrl" src="/assets/xanh-mark.png" class="company-mark" alt="Đồng Phục Xanh">

    <div class="top-value customer">{{ order.customerName || '' }}</div>
    <div class="top-value designer">{{ order.designerUserName || '' }}</div>
    <div class="top-value sale">{{ order.assignedToUserName || '' }}</div>

    <ng-container *ngIf="!order.designImageUrl">
      <div class="design-stage empty"></div>
    </ng-container>

    <div class="spec-content">
      <div *ngFor="let line of getSpecificationLines()">{{ line }}</div>
    </div>

    <div class="size-content">
      <!-- Classic: chia NAM / NỮ -->
      <ng-container *ngIf="isGenderedForm()">
        <table class="size-table">
          <tbody>
            <tr>
              <th>SIZE</th>
              <th *ngFor="let size of ADULT_SIZES">{{ size }}</th>
              <th>TỔNG</th>
            </tr>
            <tr>
              <th>NAM</th>
              <td *ngFor="let size of ADULT_SIZES">{{ getSizeQty(size, 'NAM') }}</td>
              <td class="total-cell" rowspan="2">{{ getTotalQty() }}</td>
            </tr>
            <tr>
              <th>NỮ</th>
              <td *ngFor="let size of ADULT_SIZES">{{ getSizeQty(size, 'NU') }}</td>
            </tr>
          </tbody>
        </table>

        <table class="child-size-table">
          <tbody>
            <tr>
              <ng-container *ngFor="let gender of ['NAM', 'NU']">
                <th *ngFor="let size of CHILD_SIZES">{{ size }} {{ gender === 'NAM' ? 'NAM' : 'NỮ' }}</th>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngFor="let gender of ['NAM', 'NU']">
                <td *ngFor="let size of CHILD_SIZES">{{ getSizeQty(size, gender === 'NAM' ? 'NAM' : 'NU') }}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- Oversize / Unisex: không chia giới tính, 1 dòng -->
      <ng-container *ngIf="!isGenderedForm()">
        <table class="size-table">
          <tbody>
            <tr>
              <th *ngFor="let size of ADULT_SIZES">{{ size }}</th>
              <th>TỔNG</th>
            </tr>
            <tr>
              <td *ngFor="let size of ADULT_SIZES">{{ getSizeQty(size) }}</td>
              <td class="total-cell">{{ getTotalQty() }}</td>
            </tr>
          </tbody>
        </table>

        <table class="child-size-table">
          <tbody>
            <tr>
              <th *ngFor="let size of CHILD_SIZES">{{ size }}</th>
            </tr>
            <tr>
              <td *ngFor="let size of CHILD_SIZES">{{ getSizeQty(size) }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <div class="note-content" *ngIf="getOrderNote()">
      <strong>CHÚ Ý:</strong> {{ getOrderNote() }}
    </div>

    <div class="order-code">{{ getOrderFooterLine() }}</div>

    <div class="date-meta">
      <div>NGÀY LÊN ĐƠN: {{ fmtFull(order.orderDate) }}</div>
      <div>NGÀY XONG HÀNG: {{ fmtFull(order.completionDate) }}</div>
    </div>

    <div class="staff-meta">
      <div>DESIGN: {{ order.designerUserName || '' }}</div>
      <div>SALE: {{ order.assignedToUserName || '' }}</div>
      <div>LEADER: {{ order.createdByManagerName || '' }}</div>
    </div>

    <img *ngIf="qrDataUrl" [src]="qrDataUrl" class="qr-img" alt="QR">
  </div>
</div>

<div class="export-actions">
  <button class="btn-export" (click)="exportImage()" [disabled]="isRendering">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
      <polyline points="7 10 12 15 17 10"/>
      <line x1="12" y1="15" x2="12" y2="3"/>
    </svg>
    {{ isRendering ? 'Đang xuất...' : 'Xuất ảnh đơn hàng' }}
  </button>
  <ng-content select="[slot=extra-actions]"></ng-content>
</div>
